@use "src/globalStyles";

.userCard{
    display: flex;
    flex-direction: column;
    height: min-content;
    width: fit-content;
    border: 1px solid black;
    justify-content: flex-start;
    background-color: globalStyles.$accent-color;
    padding: 10px;
    border-radius: globalStyles.$element-border-radius;
    color:globalStyles.$primary-color;
    &>*{
       margin: 15px; 
    }
    .title{
        font-size: globalStyles.$title-font-size;
        font-weight: bold;
    }
    .data{
        font-size:globalStyles.$font-size;
        font-weight:600;
    }
}  