
@use "src/globalStyles";

.loginView{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: globalStyles.$accent-color;
    height: 100vh;
    .formContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: globalStyles.$primary-color;
        margin: 15vh;
        padding: 50px;
        height:max-content;
        width: 50vw;
        max-width: 700px;
        border-radius: globalStyles.$element-border-radius;
        box-shadow: globalStyles.$box-shadow;
        .titleLogin{
            font-size: 10vw;
            margin: 10px 0;
            @media screen and (min-width: 1460px) {
                font-size: 5vw;
            }
            text-align: center;   
        }
        .loginForm{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 60%;
        }
    }
}